<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h2>Login Form</h2>
<div th:if="${error}" class="alert alert-danger">
    <p th:text="${error}"></p>
</div>
<form action="/api/SalonLink/login" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>
    <button type="submit">Login</button>
</form>
<a href="/api/SalonLink/registration">Don't have an account? Register</a>
</body>
</html>
